body {
	font-family: 'Montserrat', sans-serif;
	background-color: #abadb0;
}
/* Week display (header) */
#container_displayWEEK {
	width: 50%;
	margin: 0 auto;
}

#displayWEEK {
	text-align: center;
	font-size: 225%;
	
}
#weekReset{
	text-align: center;
	border-radius: 5px;
	background-color: grey;
	width: 20%;
	margin: 0 auto;
	margin-bottom: 7%;
}
#weekReset h2 {
	font-family: 'Metrophobic', sans-serif;
	margin-bottom: 2%;
}
#weekReset:hover{
	cursor: pointer;
	opacity: 50%;
}


.full_reset {
	width: 10%;
}


/* Content */
.content {
	width: 100%;
}
/* Lists */
.date {
	font-size: 200%;
	text-align: center;
}
.div_day {
	margin-bottom: 10%;
	background-color: white;
	width: 100%;
}
.day_reset {
	width: 2.5%;
}
.day_reset:hover {
	opacity: 50%;
}
.div_dayReset {
	margin-top: 2%;
	text-align: center;
}
.div_day h1 {
	font-family: 'Metrophobic', sans-serif;
}
.dayDisplay {
	text-align: center;
	text-decoration: underline;
}


/* Items */
.items {
	list-style-type: none;
	background-color: #abadb0;
	border: solid;
	margin-bottom: 2px;
	margin-right: 2.5%;
}
.done {
	list-style-type: none;
	background-color: red;
	border: solid;
	margin-bottom: 2px;
	margin-right: 2.5%;
}

.text {
	font-size: 200%;
	display: inline;
	overflow-wrap: break-word;
 	word-wrap: break-word;
 	hyphens: auto;
}
.cross {
	font-size: 200%;
	display: inline;
	overflow-wrap: break-word;
 	word-wrap: break-word;
 	hyphens: auto;
 	text-decoration: line-through;
}

.items input{
	display:inline-block;
	width: 25px;
	height: 25px;
}
.img_trash{
	width: 25px;
    position: absolute;
    display: inline;
    margin-top: 10px;
    right: 3.5%;
}
.img_trash:hover{
	opacity: 50%;
	cursor: pointer;
}


/* Input */
.item_add {
	text-align: center;
	margin-top: 2.5%;
	padding-bottom: 2%;
}
.item_add input {

	color: #f7f3e9;
	background-color: grey;
	text-align: center;
	border: solid;

    font-size: 20px;
	font-size: 125%;
	height: 30px;
	width: 50%;
}

.item_add input::placeholder{
	color: #f7f3e9;
}
